<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (allResources.length > 0) { %>
        <div class="grid">
            <% for (let resource of allResources) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= resource.title %></h1>
                </header>
                <div class="card__content">
                    <p class="product__description"><%= resource.description %></p>
                </div>
                <!-- <% if (resource.status== "pending") { %>
                    <div class="card__content">
                        <p class="product__description"><b><%= resource.status %></b></p>
                    </div>
                <% } else { %>
                    <div class="card__content">
                        <p class="product__description"><b><%= resource.status %> to <br><%= resource.developerAssigned.name %></b></p>
                    </div>
                <% } %> -->
                <!-- <% if (isAuthenticated && user.usertype == '2') { %>
                <div class="card__actions">
                    <% if (resource.status == "pending") { %>
                    <a href="/subscription/<%= resource._id %>" class="btn">Subscribe</a>
                    <% } else { %>
                    <a href="/subscription/<%= resource._id %>" class="btn subscribed">subscribed</a>
                    <% } %>
                </div>
                <% } %> -->
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>No Tasks Found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>